<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCYgCr9dytHeVBCXAypNPewfrarD7vTHmA</string>
	<key>GCM_SENDER_ID</key>
	<string>747462974188</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ru.vsevolodtsarev.Messenger</string>
	<key>PROJECT_ID</key>
	<string>messenger-acae8</string>
	<key>STORAGE_BUCKET</key>
	<string>messenger-acae8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:747462974188:ios:62a699a1044e88cc6b63c9</string>
</dict>
</plist>